@font-face {
  font-family: "Light";   /*Can be any text*/
  src: local("RickAndMorty"),
    url("./assets/fonts/get_schwifty.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

body .hero-header h1, h2, h3, h4, h5, h6{
  font-family: "Light";
  color: greenyellow;
  font-weight: 900;
  -webkit-text-stroke: 0.1px rgb(0, 174, 255);
  font-size: 88px;
}

.title-ram{
  font-family: "Light";
  color: greenyellow;
  font-weight: 900;
  font-size: 40px;
  -webkit-text-stroke: 0px;
}

.header-content{
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background:  url(./assets/img/main_header.png);
}

#img-rotate{
  transition: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  animation: imgRotate 60s linear infinite;
}

@keyframes imgRotate { 
  
  100% { 
    transition: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transform: rotate(360deg); 
  } 
}

.search-bar{
  border: 1px solid rgb(141, 231, 7);
  width: auto;
  min-width: 300px;
  margin-top: 3px;
  padding: 9px;
  border-radius: 10px;
  background: rgb(43, 43, 43);
  color: white;
}

.gallery{
  padding: 140px 0 60px 0;
}